img {
  border-radius: 25px;
  margin-top: 25%;
  width: 100%;
}

.box.right {
  float: right;
  width: 30%;
  margin-top: 30px;
  padding: 20px;
  background: #DFF6FF;
}

.box.left {
  float: left;
  width: 60%;
  margin-top: 50px;
}

@media screen and (max-width: 620px) {
  .box.right {width: 100%; margin-right: -20px}
  .box.left {width: 100%}
}


@media screen and (max-width: 550px) {
  img {
    width: 30%;
    float:left;
    }
  h2 {
    float: right;
    width: 60%;
    margin-top: -110px;
  }
}
